LOCALIP = 192.168.45.1
LOCALHOST = 127.0.0.1 #Change it if you use two remote system

# Please put local device at your left hand side
LOCALPORT = 39532
# And put remote devide at your right hand side
REMOTEPORT = 39531

# Change variables and copy it into /.env file! 